// TaskList.module.scss
.taskList {
    padding: 20px;

    h1 {
        margin-bottom: 20px;
        background-color: #efefef;
        padding: 10px 15px;
    }

    ul {
        padding: 0;
    }
}
